<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ITE BACK OFFICE MANAGEMENT</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-neptune/resources/theme-neptune-all.css" />
    <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/ext-all.js"></script>
    <style>

    </style>
    <script type="text/javascript">
        //=========================================================================================================
        //		           APPLICATION START
        // ========================================================================================================
        Ext.onReady(() => {

            let edit = false;
            let chapterId 

            Ext.define('MyApp.view.Form', {
                extend: 'Ext.form.Panel',
                xtype: 'my-form',

            });

            const ChaptersTranslatedModel = Ext.define("ChaptersTranslatedModel", {
                extend: "Ext.data.Model",
                fields: ["id", "Chapter", "Language", "Translated"],
            });

            const chaptersTranslatedStore = Ext.create("Ext.data.Store", {
                id: "chaptersTranslatedStore",
                autoLoad: true,
                model: ChaptersTranslatedModel,
                proxy: {
                    type: "ajax",
                    method: "POST",
                    url: "/api/getTransltedChapters",
                    noCache: true,
                    reader: {
                        type: "json",
                    },
                    cors: true,
                    useDefaultXhrHeader: false,
                },
            });

            const mainGridColumns = [
                {
                    header: "ID",
                    sortable: true,
                    width: 80,
                    dataIndex: "id",
                },
                {
                    header: "Chapter",
                    sortable: true,
                    width: 130,
                    dataIndex: "Chapter",

                },
                {
                    header: "Language",
                    sortable: true,
                    width: 100,
                    dataIndex: "Language",
                },
                {
                    header: "Translated",
                    sortable: true,
                    width: 100,
                    dataIndex: "Translated",
                },

            ];



            const tbarItems = [

                {
                    xtype: "toolbar",
                    dock: "top",
                    id: "bottomToolBar",
                    items: [
                        {
                            xtype: "button",
                            id: "add",
                            iconCls: "fa fa-plus-circle",
                            text: "New",
                            scale: "small",
                            handler: function () {

                                Ext.getCmp("addSave").setHidden(false);
                                Ext.getCmp("editSave").setHidden(true);
                                Ext.getCmp("panelAdd").setTitle("Add translated chapter");
                                Ext.getCmp("viewport").setActiveItem("panelAdd");
                            },
                        },
                        "-",
                        {
                            xtype: "button",
                            id: "edit",
                            text: "Edit",
                            iconCls: "fa fa-edit",
                            scale: "small",
                            handler: function () {
                                edit = true;

                                const selectedRecord = Ext.getCmp("chapterTransltedGrid")
                                  .getSelectionModel()
                                  .getSelection()[0];

                                if (selectedRecord === undefined) {
                                  Ext.Msg.alert("INFO", "No record selected");
                                } else {
                                  chapterId = selectedRecord.data.id;
                                  Ext.getCmp("Chapter").setValue(selectedRecord.data.Chapter)
                                  Ext.getCmp("Translated").setValue(selectedRecord.data.Translated)
                                  Ext.getCmp("Language").setValue(selectedRecord.data.Language)
                                  Ext.getCmp("addSave").setHidden(true);
                                  Ext.getCmp("editSave").setHidden(false);
                                  Ext.getCmp("panelAdd").setTitle("Edit translated chapter");
                                  
                                  Ext.getCmp("viewport").setActiveItem("panelAdd");
                                }
                            },
                        },
                        "-",
                        {
                            xtype: "button",
                            id: "delete",
                            text: "Delete",
                            iconCls: "fa fa-trash-alt",
                            scale: "small",
                            handler: function () {
                                deleteTranslatedChapter()
                            },
                        },

                    ],
                },
                {
                    xtype: "toolbar",
                    dock: "top",
                    id: "searchBar",
                    items: [
                        {
                            xtype: "textfield",
                            id: "searchChapter",
                            iconCls: "fa fa-search",
                            width: 130,
                            labelWidth: 20,
                            emptyText: "Search chapter",
                            enableKeyEvents: true,
                            listeners: {
                                keyup: (field, event) => {
                                    //   if (event.getKey() === 13) {
                                    //     searchProduct("searchProductCode", "productCode");
                                    //   }
                                    // },
                                    // change: () => {
                                    //   Ext.getCmp("searchProductName").setValue("");
                                    //   Ext.getCmp("searchAS400").setValue("");
                                    //   Ext.getCmp("searchPN").setValue("");
                                    //   Ext.getCmp("searchTree").setValue("");
                                }
                            },
                        },

                        {
                            xtype: "button",
                            id: "resetSearch",
                            iconCls: "fas fa-undo-alt",
                            text: "reset",
                            style: "padding: 7px; border: none; background-color: #000",
                            listeners: {
                                click: () => {
                                    Ext.getCmp("searchChapter").setValue("");
                                    chaptersTranslatedStore.reload();
                                },
                            },
                        },
                    ],
                },
            ];

            const chapterTransltedGrid = Ext.create("Ext.grid.GridPanel", {
                id: "chapterTransltedGrid",
                flex: 1,
                scrollable: true,
                title: "Chapters Translted",
                trackOver: true,
                loadMask: true,
                store: chaptersTranslatedStore, // store
                columns: mainGridColumns, //columns
                enableColumnMove: false,
                sortable: true,
                frame: false,
                renderTo: Ext.getBody(),
                height: 690,
                dockedItems: [...tbarItems],
                listeners: {
                    dblclick: {
                        element: "body",
                        fn: () => {

                        },
                    },
                },
            });

            var getCheckboxValue = function () {

                if (Ext.getCmp('Translated').getValue() == true) {

                    return 1
                } else {
                    return 0
                }
            }


            var addTranslatedChapter = function () {
                Ext.getBody().mask("Saving", "x-msg-loading");
                Ext.Ajax.request({
                    url: "/api/addTranslatedChapter",
                    method: "POST",
                    cors: true,
                    useDefaultXhrHeader: false,
                    params: {
                        Chapter: Ext.getCmp("Chapter").getValue(),
                        Language: Ext.getCmp("Language").getValue(),
                        Translated: getCheckboxValue(),

                    },
                    success: function (response) {
                        // check for errors and display error message
                        var check = response.responseText;
                        if (check) {
                            var data = JSON.parse(check);
                            if (data) {
                                Ext.getBody().unmask();
                                Ext.Msg.alert(
                                    "Translated Chapter",
                                    `You have successfully add the translated chapter`,
                                );
                                Ext.getCmp("viewport").setActiveItem('chapterTransltedGrid');
                                chaptersTranslatedStore.reload();
                            } else {
                                // display error message
                                Ext.getBody().unmask();
                                Ext.Msg.alert(
                                    "ERROR",
                                    "Failed to add the translated chapter. Contact your IT team."
                                );
                            }
                        }
                    },
                    failure: function (response) {
                        Ext.getBody().unmask();
                        Ext.Msg.alert(
                            "ERROR",
                            "Failed to add the translated chapter. Contact your IT team."
                        );
                    }
                });
            };

            var editChapterTranslated = function () {
                Ext.getBody().mask("Saving", "x-msg-loading");
                Ext.Ajax.request({
                    url: "/api/updateTranslatedChapters",
                    method: "POST",
                    cors: true,
                    useDefaultXhrHeader: false,
                    params: {
                        id: chapterId,
                        Chapter: Ext.getCmp("Chapter").getValue(),
                        Language: Ext.getCmp("Language").getValue(),
                        Translated: getCheckboxValue(),

                    },
                    success: function (response) {
                        // check for errors and display error message
                        var check = response.responseText;
                        if (check) {
                            var data = JSON.parse(check);
                            if (data) {
                                Ext.getBody().unmask();
                                Ext.Msg.alert(
                                    "Translated Chapter",
                                    `You have successfully add the translated chapter`,
                                );
                                Ext.getCmp("viewport").setActiveItem('chapterTransltedGrid');
                                chaptersTranslatedStore.reload();
                            } else {
                                // display error message
                                Ext.getBody().unmask();
                                Ext.Msg.alert(
                                    "ERROR",
                                    "Failed to add the translated chapter. Contact your IT team."
                                );
                            }
                        }
                    },
                    failure: function (response) {
                        Ext.getBody().unmask();
                        Ext.Msg.alert(
                            "ERROR",
                            "Failed to add the translated chapter. Contact your IT team."
                        );
                    }
                });
            };


            var deleteTranslatedChapter = function () {
                const selectedRecord = Ext.getCmp("chapterTransltedGrid")
                    .getSelectionModel()
                    .getSelection()[0];
                Ext.Msg.confirm('Confirm delete', "Are you sure you want to remove this translated chapter ?", function (btn, text) {
                    if (btn == 'yes') {
                        Ext.getBody().mask('Deleting', 'x-msg-loading');
                        Ext.Ajax.request({
                            url: "/api/deleteTranslatedChapter",
                            method: "POST",
                            cors: true,
                            useDefaultXhrHeader: false,
                            params: {
                                chapterTransltedId: selectedRecord.data.id
                            },
                            success: function (response) {
                                // check for errors and display error message
                                var check = response.responseText;
                                if (check) {
                                    var data = eval("(" + response.responseText + ")");

                                    if (data.serverStatus == 2) {
                                        chaptersTranslatedStore.reload();
                                        Ext.getBody().unmask();
                                        Ext.Msg.alert(
                                            "Success",
                                            "You have successfully deleted the translated chapter"
                                        );
                                    } else {
                                        // display error message
                                        Ext.getBody().unmask();
                                        Ext.Msg.alert(
                                            "ERROR",
                                            "Failed to delete the translated chapter. Contact your IT team."
                                        );
                                    }
                                }
                            },
                            failure: function (response) {
                                Ext.getBody().unmask();
                                Ext.Msg.alert(
                                    "ERROR",
                                    "Failed to delete translated chapter. Contact your IT team."
                                );
                            },

                        });
                    }
                })
            }

            var itemsAdd = [

                {
                    xtype: "numberfield",
                    id: "Chapter",
                    name: "Chapter",
                    fieldLabel: "Chapter",
                    maxValue: 99,
                    minValue: 0,
                    width: 500,
                    allowBlank: true,
                    selectOnFocus: false,
                    margin: "25 0 25 0",
                },
                {
                    xtype: "textfield",
                    id: "Language",
                    name: "Language",
                    fieldLabel: "Language",
                    maxLenght: 2,
                    width: 500,
                    allowBlank: true,
                    selectOnFocus: false,
                    margin: "25 0 25 0",
                },
                {
                    xtype: "checkbox",
                    id: "Translated",
                    name: "Translated",
                    fieldLabel: "Translated",
                    allowBlank: true,
                    selectOnFocus: false,
                    margin: "25 0 25 0",
                },
            ];

            var screenAdd = new Ext.FormPanel({
                frame: false,
                header: false,
                border: false,
                defaults: {
                    labelAlign: "right",
                    labelWidth: 105,
                    listeners: {
                        specialkey: function (field, e) {
                            if (e.getKey() == e.ENTER) {
                                updateRec();
                            }
                            if (e.getKey() == e.ESC) {
                                Ext.getCmp("viewport").setActiveItem("chapterTransltedGrid");
                            }
                        },
                    },
                },
                width: '100%',
                waitMsgTarget: true,
                autoScroll: true,
                style: "padding: 3px 3px 3px 3px;",
                items: [
                    {
                        layout: "column",
                        layoutConfig: {
                            columns: 2,
                        },
                        border: false,
                        items: [
                            {
                                xtype: 'my-form',
                                id: "addForm",
                                columnWidth: 1,
                                border: false,
                                items: itemsAdd,
                            },
                        ],
                    },
                ],
            });

            // outer panel container to hold tbar and keypress definitions
            var panelAdd = new Ext.Panel({
                layout: "fit",
                id: "panelAdd",
                title: "Add product",
                header: true,
                items: [screenAdd],
                tbar: [
                    {
                        text: "Save",
                        id: "addSave",
                        iconCls: "fas fa-save",
                        handler: function () {
                            addTranslatedChapter();
                            Ext.getCmp('addForm').reset()
                        },
                    },
                    {
                        text: "Save",
                        id: "editSave",
                        iconCls: "fas fa-save",
                        handler: function () {
                            edit = false;
                            editChapterTranslated();
                            Ext.getCmp("addForm").reset();
                        },
                    },
                    "-",
                    {
                        text: "Cancel",
                        tooltip: "Cancel",
                        id: 'cancel',
                        iconCls: "fas fa-undo",
                        handler: function () {
                            edit = false;
                            Ext.getCmp('addForm').reset();
                            Ext.getCmp("viewport").setActiveItem("chapterTransltedGrid");
                        },
                    },
                ],
            });


            Ext.create("Ext.container.Viewport", {
                id: "viewport",
                layout: "card",
                activeItem: 0,
                items: [chapterTransltedGrid, panelAdd],
            });
        });

    </script>
</head>

<body>

</body>

</html>